name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libgtk-3-dev libasound2-dev libxdo-dev libsoup-3.0-dev
      
      - name: Build Plugin
        run: cargo build
        working-directory: plugin_music

      - name: Build & Test EpiKodi
        run: |
          cargo build
          cargo test
        working-directory: EpiKodi
